.hr-one{
    color: black;
    background-color: black;
    border-color: black;
}
.shark-image{
    width: 200px;
    height: 200px;
}

.Band-image{
    width:200px;
}

.punisher-image{
    width: 200px;
    height: 200px;
}

.school-image{
    width: 300px;
    height: 200px;
    border-radius: 50%;
    border-style: groove;
    border-color: black;
}

.one-div{
   border-bottom: none;

}

.one-paragraph{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.two-div{
     
}

.one-h1{
    font-family: cursive;
    color: black;
}

.two-h1{
    font-family:cursive ;
    color: white;
}

.one-h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.one-th{
    color: white;
}

.color-body{
    background-image: linear-gradient(red,black);
}

.two-hr{
    border-color: white;
    color: white;
    background-color: white;
}

.one-tbody{
    border-color: white;
    color: white;
    background-color: white;
}

